<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055839520466-um52rqufi7576cjefjg005objt900067.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055839520466-um52rqufi7576cjefjg005objt900067</string>
	<key>API_KEY</key>
	<string>AIzaSyDRt6uZbSY0o3c4zcvWvvRrEcIvI9b4B9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1055839520466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>123</string>
	<key>PROJECT_ID</key>
	<string>asdas-5ceda</string>
	<key>STORAGE_BUCKET</key>
	<string>asdas-5ceda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055839520466:ios:7ac03a1ee0e28645ec8f0b</string>
</dict>
</plist>